<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Ginger2</display-name>
  <welcome-file-list>
    <welcome-file></welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servlet</display-name>
    <servlet-name>servlet</servlet-name>
    <servlet-class>com.ginger.misc.serv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet</servlet-name>
    <url-pattern>/serv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>srnoserv</display-name>
    <servlet-name>srnoserv</servlet-name>
    <servlet-class>com.ginger.misc.propserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>srnoserv</servlet-name>
    <url-pattern>/srnoserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>propserv</display-name>
    <servlet-name>propserv</servlet-name>
    <servlet-class>com.ginger.misc.propserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>propserv</servlet-name>
    <url-pattern>/propserv</url-pattern>
  </servlet-mapping>
</web-app>